server {
  listen 80;
  server_name mariohaertwig.de;
  charset utf-8;

  location / {
    default_type text/plain;
    return 418 "418 I'm a teapot";
  }
}

server {
  listen 80;
  server_name backend.climage.mariohaertwig.de
  client_max_body_size 20M;
  charset utf-8;

  location /media {
    root {{ root_dir }};
  }

  location /static {
    root {{ root_dir }};
  }

  location / {
    proxy_set_header Host $http_host;
    proxy_pass http://localhost:8000;
    client_max_body_size 20M;
  }
}


server {
  listen 80;
  server_name climage.mariohaertwig.de;
  root {{ application_dir }}/frontend/build;
  index index.html;
  charset utf-8;

  location / {
    try_files $uri /index.html =404;
  }
}
