server {
  listen 80;
  server_name {{ backend_server_name }};
  client_max_body_size 20M;
  charset utf-8;

  location /media {
    root {{ root_dir }};
  }

  location /static {
    root {{ root_dir }};
  }

  location / {
    proxy_set_header Host $http_host;
    proxy_pass http://localhost:8000;
    client_max_body_size 20M;
  }
}


server {
  listen 80;
  server_name {{ frontend_server_name }};
  root {{ application_dir }}/frontend/build;
  index index.html;
  charset utf-8;

  location / {
    try_files $uri /index.html =404;
  }
}
