.Home {
  .body {
    padding: 15px;
    padding-top: 40px;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 90px;
  }
}

@media (max-width: 800px) {
  .Home {
    .body {
      padding: 0;
      padding-top: 80px;
    }
  }
}
